<div class="basecontent-slider">
	<f:if condition="{images}">
		<ul>
			<f:for each="{images}" as="image">
				<li>
					<f:if condition="{image.link}">
						<f:then>
							<f:link.page pageUid="{image.link}">
								<f:render partial="Slider/Item" arguments="{image:image}"/>
							</f:link.page>
						</f:then>
						<f:else>
							<f:render partial="Slider/Item" arguments="{image:image}"/>
						</f:else>
					</f:if>
				</li>
			</f:for>
		</ul>
	</f:if>
</div>

<f:debug>{images}</f:debug>

<script>
	jQuery('noscript[data-large][data-small]').each(function () {
		var src = screen.width >= 320 ? jQuery(this).data('large') : jQuery(this).data('small');
		var alt = jQuery(this).data('alt') ? jQuery(this).data('alt') : jQuery(this).data('title');
		var title = jQuery(this).data('title') ? jQuery(this).data('title') : jQuery(this).data('alt');
		jQuery('<img src="' + src + '" alt="' + alt + '"' + ' title="' + title + '" />').insertAfter(jQuery(this));
	});
</script>